<template>
	<!-- <require from="../../value-converters/filter-by-code"></require> 
  https://codepen.io/johntom/pen/ypZVaM
  -->
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="aurelia-kendoui-bridge/button/button"></require>

	<require from="./flex.css"></require>
	<style>
		img.responsive-img,
		video.responsive-video {
			max-width: 100%;
			height: auto;
		}
	</style>

	<section class="full-height flex-column-1 au-animate ignore">
		<!-- <div class="flex-row-none section-header">	${heading}</div> -->
		<div class="flex-column-1 overflow-y-auto">

			<form class="flex-column-1">
				<div id="top" class="flex-row-3">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">
						<!-- row1 -->
						<div class="flex-row-none">
							<div class="form-group flex-column-1">

								<div class="Rtable Rtable--2cols">

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> CompanyName</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="CompanyName" class="form-control input-sm" value.bind="currentItem.CompanyName">
									</div>







									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> FirstName</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="FirstName" class="form-control input-sm" value.bind="currentItem.FirstName">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> LastName</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="LastName" class="form-control input-sm" value.bind="currentItem.LastName">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Email</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Email" class="form-control input-sm" value.bind="currentItem.email">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Phone</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Phone" class="form-control input-sm" value.bind="currentItem.Phone">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Fax</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Fax" class="form-control input-sm" value.bind="currentItem.Fax">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Cellular</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Cellular" class="form-control input-sm" value.bind="currentItem.Cellular">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Address</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Address" class="form-control input-sm" value.bind="currentItem.Address">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Address2</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Address2" class="form-control input-sm" value.bind="currentItem.SignedLocation">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> City</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="City" class="form-control input-sm" value.bind="currentItem.City">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Zip</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Zip" class="form-control input-sm" value.bind="currentItem.Zip">
									</div>







									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> type</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="type" class="form-control input-sm" value.bind="currentItem.type">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> TitleLegacy</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="TitleLegacy" class="form-control input-sm" value.bind="currentItem.TitleLegacy">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> PhoneHome</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="PhoneHome" class="form-control input-sm" value.bind="currentItem.PhoneHome">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> PhoneAlt</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="PhoneAlt" class="form-control input-sm" value.bind="PhoneAlt">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Salutation</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Salutation" class="form-control input-sm" value.bind="currentItem.Salutation">
									</div>


								</div>
							</div>
							<!-- end <div class="Rtable Rtable--7cols"> -->

							<!-- demo middle col -->





							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Notes</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<textarea rows="35" id="Notes" class="form-control input-sm" value.bind="currentItem.Notes"></textarea>
									</div>

									<!-- 
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> TitleLegacy</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="TitleLegacy" class="form-control input-sm" value.bind="currentItem.TitleLegacy">
									</div>
								
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> PhoneHome</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="PhoneHome" class="form-control input-sm" value.bind="currentItem.PhoneHome">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> PhoneAlt</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="PhoneAlt" class="form-control input-sm" value.bind="PhoneAlt">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Salutation</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Salutation" class="form-control input-sm" value.bind="currentItem.Salutation">
									</div> -->



								</div>
								<!-- 2nd -->
							</div>
						</div>

					</div>
					<!--top left  -->



					<!-- <div id="top-right" class="flex-column-none data-form-image">
						<img class="responsive-img" max-width="250px" src="http://74.114.164.24/api/v1/getonePdf/inv/${currentItem.InventoryCode}.jpg"
						 click.delegate="showModal()">
					
					</div> -->
					<!-- end middle and top right -->


				</div>
				<!-- after the form -->
				<!-- <div id="bottom-left" class="flex-row-3">
					<div id="data-form-ext" class="flex-column-1">
						<div id="data-form-one-to-many-tabs" class="flex-row-none flex-wrap">
							<div repeat.for="tab of appService.dataFormOneToManyTabs" class="tab tab-top ${tab.isSelected ? 'tab-selected' : ''}">
								<div class="form-tab-box" click.delegate="selectOneToManyTab(tab)">
									<span>${tab.name}</span>
								</div>
							</div>
						</div>

						<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background: darkgray;">

							<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
						</div>
					</div>
				</div> -->

			</form>

			<div class="flex-column-none section-footer">
				<!-- ${footer} -->

				<span>&nbsp;&nbsp;	
					<button class="btn btn-sm btn-danger" click.delegate="saveclient()">
							Save & Close Client
					</button>
					</span>
				<span>&nbsp;&nbsp;	
					<button class="btn btn-sm btn-danger" click.delegate="close()">
							Close
					</button>
					</span>
			</div>
		</div>
	</section>
</template>