<template>
	<require from="./docs.css"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h2>
			<i class="fa fa-folder-open"></i> Notes (${currentItem.notes.length})
			<a slot="buttons-slot" class="btn btn-success" click.delegate="addNote()">
				<i class="fa fa-plus"></i> Add Note
			</a>
		</h2>
		
		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.notes; cols: ['WorkDate','Notes']">
				<tr>
					<tr>
						<th class="header">WorkDate
						</th>
						<th class="header">Notes
						</th>
						<th class="header">Cmd
						
						</th>
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
			<tr repeat.for="note of currentItem.notes" with.bind="note">
					<td width="125px">
						<span show.bind="!note.edit">${WorkDate}</span>
						<input show.bind="note.edit" class="form-control input-sm" disabled.bind="!note.edit" type="date" value.bind="WorkDate">
					</td>
					<td width="325px">
						<span show.bind="!note.edit">${Notes}</span>

						<input show.bind="note.edit" class="form-control input-sm" disabled.bind="!note.edit" type="text" value.bind="Notes">						</td>

					<td width="225px">
					<button class="btn btn-primary" click.delegate="note.edit=!note.edit">${ !note.edit ? 'Update' : 'Done' }</button>
					<button class="btn btn-danger" click.delegate="remove(note,$index)">Delete</button> 
       
					</td>
	

			</tbody>
		</table>
	
	</section>
</template>

