<template>
	<require from="./docs.css"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h2>
			<i class="fa fa-folder-open"></i> condition (${currentItem.condition.length})
			<a slot="buttons-slot" class="btn btn-success" click.delegate="addNote()">
				<i class="fa fa-plus"></i> Add condition
			</a>
		</h2>
		
		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.condition; cols: ['WorkDate','Notes']">
				<tr>
					<tr>
						<th class="header">ConditionDate
						</th>
						<th class="header">condition
						</th>
						<th class="header">Cmd
						
						</th>
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
			<tr repeat.for="condition of currentItem.condition" with.bind="condition">
					<td width="125px">
						<span show.bind="!condition.edit">${ConditionDate}</span>
						<input show.bind="condition.edit" class="form-control input-sm" disabled.bind="!condition.edit" type="date" value.bind="ConditionDate">
					</td>
					<td width="325px">
						<span show.bind="!condition.edit">${Condition}</span>

						<input show.bind="condition.edit" class="form-control input-sm" disabled.bind="!condition.edit" type="text" value.bind="Condition">						</td>

					<td width="225px">
					<button class="btn btn-primary" click.delegate="condition.edit=!condition.edit">${ !note.edit ? 'Update' : 'Done' }</button>
					<button class="btn btn-danger" click.delegate="remove(condition,$index)">Delete</button> 
       
					</td>
	

			</tbody>
		</table>
	
	</section>
</template>

