<template>
  <section class="au-animate">
    <div class="section-header flex-row-none">
      ${heading}
    </div>
  <div class="section-content flex-row-1">
    Main content here..gail paranteau .v100
           <!-- <img class="logo" src="http://www.michaelrosenfeldart.com/bundles/exhibitedefault/images/MRG_logo-white.png"> -->
  <img src="https://5924b98cbd966f546312882f.blob.core.windows.net/gail/src/images/PG%20LOGO-lg.jpg" >

  </div>  
  <!-- <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a> -->
 
<!-- <div id="films"></div> -->

  </section>
</template>